@model CartSummaryViewModel

@if (Model.Items.Count == 0)
{
    <h2>There is nothing in the cart</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fish Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Subtotal
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fish.BreedName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fish.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @(item.Fish.Price * item.Quantity)
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Remove" asp-route-id="@item.CartItemId">Remove Item</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <h3>Total Price: @Model.TotalPrice</h3>
        <h3>Tax (@(Model.TaxRate * 100)%): @Model.TotalTax</h3>
        <h3>Final Price: @Model.FinalPrice</h3>
    </div>
}
