@model FishStoreApplication.Models.Fish

@{
    ViewData["Title"] = Model.BreedName + " Details";
}

<div>
    <a id="back_button" asp-action="FishIndex">Back to List</a>
</div>

@section Head
{
    <style>
        .row.align-items-start {
            display: flex;
            align-items: flex-start;
        }

        #line {
            width: 10%;
            border-top: 3px solid black;
            margin: 20px 0;
        }

        #space {
            margin-bottom: 5%;
        }

        #cart {
            border: 2px solid #000;
            background-color: white;
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            position: center;
            width: 100%;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.2) inset;
        }

        .row dt {
            width: 30%;
            float: left;
            clear: left;
            margin-right: 10px;
        }

        .row dd {
            width: 60%;
            float: left;
            margin-bottom: 10px;
        }

        #description {
            width: 100%;
        }

        .image-container .main-image {
            margin-top: 20px;
            width: 580px;
            height: 500px;
            display: block;
            margin-bottom: 10px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.2) inset;
        }

        .thumbnail-container .img-thumbnail {
            width: 55px;
            height: 50px;
            margin: 0 5px;
            cursor: pointer;
        }

        .accordion-item {
            border: none !important;
        }

        .accordion {
            border: 2px solid #000;
            padding: 0;
            margin-left: 12px;
            width: 96.3%;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.2) inset;
        }

        #back_button {
            border: 2px solid #000;
            background-color: white;
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            position: center;
            width: 10%;
            margin-left: 10px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.2) inset;
        }

        .image-container .main-image {
            display: block;
            width: 99%;
            height: auto;
            object-fit: cover;
        }
    </style>
}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container">
                <img src="@Model.MainImageURL" alt="Fish image" id="mainImage" class="img-fluid main-image" />
                    <div class="thumbnail-container d-flex justify-content-center">
                        <img src="@Model.SecondaryImageOne" alt="Fish image" class="img-thumbnail" />
                        <img src="@Model.SecondaryImageTwo" alt="Fish image" class="img-thumbnail" />
                        <img src="@Model.SecondaryImageThree" alt="Fish image" class="img-thumbnail" />
                        <img src="@Model.SecondaryImageFour" alt="Fish image" class="img-thumbnail" />
                    </div>
                </div>
            </div>
        <div class="col-md-6" style="position: relative;">
            <a class="btn heart-btn" asp-controller="WishList" asp-action="ToggleWishList" asp-route-id="@Model?.FishId" data-fish-id="@Model?.FishId" style="position: absolute; top: 0; right: 0;">
                <i class="bx bx-heart heart-icon" style="font-size: 30px;"></i>
            </a>

            <h4>@Html.DisplayFor(model => model.BreedName)</h4>
            <div id="line"></div>
            <dl class="row">
                <dd class="col-sm-10">
                    <b>$@Html.DisplayFor(model => model.Price)</b>
                </dd>
                <div id="space"></div>
                <dd id="description" class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <div id="space"></div>
                <div>
                    <a id="cart" asp-controller="Cart" asp-action="Add" asp-route-id="@Model?.FishId"><b>ADD TO CART</b></a>
                </div>
                <div id="space"></div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <strong>Attributes</strong>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FishSize)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FishSize) Inch
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>Specifications</strong>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FishSpecialDiet)</dt>
                                        <dd class="col-sm-10">@Html.DisplayFor(model => model.FishSpecialDiet)</dd>
                                    </div>
                                    <div class="row">
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FishEnvironment)</dt>
                                        <dd class="col-sm-10">@Html.DisplayFor(model => model.FishEnvironment)</dd>
                                    </div>
                                    <div class="row">
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FishTemperament)</dt>
                                        <dd class="col-sm-10">@Html.DisplayFor(model => model.FishTemperament)</dd>
                                    </div>
                                    <div class="row">
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FishCareLevel)</dt>
                                        <dd class="col-sm-10">@Html.DisplayFor(model => model.FishCareLevel)</dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <strong>Warranty</strong>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.FishWarranty)
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
@section Scripts 
	{
    <script>
        $(document).ready(function () {
            $('.img-thumbnail').click(function () {

                var mainImgSrc = $('#mainImage').attr('src');

                var thumbImgSrc = $(this).attr('src');

                $('#mainImage').attr('src', thumbImgSrc);

                $(this).attr('src', mainImgSrc);
            });
        });

        $(document).ready(function () {
            $('.heart-btn').each(function () {
                const heartBtn = $(this);
                const fishId = heartBtn.data('fish-id');

                $.ajax({
                    url: '/WishList/IsInWishList',
                    type: 'GET',
                    data: { id: fishId },
                    success: function (response) {
                        if (response.isInWishList) {
                            heartBtn.find('.heart-icon').removeClass('bx-heart').addClass('bxs-heart');
                            heartBtn.data('in-wishlist', true);
                        } else {
                            heartBtn.data('in-wishlist', false);
                        }
                    }
                });
            });

            $('.heart-btn').click(function (e) {
                e.preventDefault();

                const heartIcon = $(this).find('.heart-icon');
                const isInWishlist = $(this).data('in-wishlist');
                const url = $(this).attr('href');

                if (isInWishlist) {
                    heartIcon.removeClass('bxs-heart').addClass('bx-heart');
                    $(this).data('in-wishlist', false);
                } else {
                    heartIcon.removeClass('bx-heart').addClass('bxs-heart');
                    $(this).data('in-wishlist', true);
                }
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (response) {

                    },
                    error: function (error) {
                    }
                });
            });
        });

    </script>
}


