@model FishCatalogViewModel
@{
	ViewData["Title"] = "Fish Catalog";
}
@section Head
{
	<style>
		.row.align-items-start {
			display: flex;
			align-items: flex-start;
		}

		body {
			background-image: radial-gradient(circle at top right, white, lightblue, white, lightblue, white, lightblue, white);
		}

	</style>
}
@if (TempData["Message"] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@TempData["Message"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<body>
	<div class="container">
		<div class="row align-items-start">
			<div class="col-md-2 filter-section">
				<h1>Categories</h1>

				<div class="accordion" id="filterAccordion">

					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Price
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#filterAccordion">
							<div class="accordion-body">

								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault" id="filter1">
									<label class="form-check-label" for="filter1">
										$1 - $10
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault" id="filter2" checked>
									<label class="form-check-label" for="filter2">
										$10 - $20
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault" id="filter3" checked>
									<label class="form-check-label" for="filter3">
										Any Price
									</label>
								</div>
							</div>
						</div>
					</div>



					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								Size
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#filterAccordion">
							<div class="accordion-body">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault2" id="filter4">
									<label class="form-check-label" for="filter4">
										Less than 10 inch
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault2" id="filter5" checked>
									<label class="form-check-label" for="filter5">
										More than 10 inch
									</label>
								</div>
							</div>
						</div>
					</div>



				
				</div>
				<a id="btn_results" class="btn btn-sm btn-outline-secondary">See Results</a>
				<a id="clear_filters_btn" class="btn btn-sm btn-outline-secondary" type="button">Clear Filters</a>
			</div>
		
	

	
	

			<div class="col-md-10 main-content">
				<h1>Fish Catalog</h1>
				@if (Model.Fishes.Count() != 0)
				{
					<div class="row">
						@foreach (Fish item in Model.Fishes)
						{

							<div class="col-md-4 fish-card" data-price="@item.Price" data-size="@item.FishSize">
								<div class="card mb-4 box-shadow">

									<img class="card-img-top" src="~/fish.jpg" alt="Fish image" style="height: 250px; width:334px;">
									<div class="card-body">
										<p class="card-text"><strong></strong> @item.BreedName</p>
										<p class="card-text"><strong></strong> $@item.Price</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.FishId">Details</a>
												<a class="btn btn-sm btn-outline-secondary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.FishId">Add to Cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				}
				else
				{
					<h2>There are no fish with these filters</h2>
				}
			</div>


			<nav aria-label="Fish Catalog Pages">
				<ul class="pagination">
					@for (int i = 1; i <= Model.LastPage; i++)
					{
						if (i == Model.CurrentPage)
						{
							<li class="page-item active">
								<a class="page-link">@i</a>
							</li>
						}
						else
						{
							<li class=" page-item">

								<a class="page-link" asp-action="Index" asp-route-id="@i">@i</a>
							</li>
						}

					}
				</ul>
			</nav>
		</div>
	</div>
	@section Scripts 
	{
			<script>
				$(document).ready(function () {

					function updateUrl() {
						var filterUnder10 = $('#filter1').is(':checked');
						var filter10to20 = $('#filter2').is(':checked');
						var filterSizeLessThan10 = $('#filter4').is(':checked');
						var filterSizeMoreThan10 = $('#filter5').is(':checked');
						var queryParams = new URLSearchParams(window.location.search);

						queryParams.set('filterUnder10', filterUnder10);
						queryParams.set('filter10to20', filter10to20);
						queryParams.set('filterSizeLessThan10', filterSizeLessThan10);
						queryParams.set('filterSizeMoreThan10', filterSizeMoreThan10);
						history.replaceState(null, null, "?" + queryParams.toString());
					}


					function setCheckboxStates() {
						var queryParams = new URLSearchParams(window.location.search);
						var filterUnder10 = queryParams.get('filterUnder10') === 'true';
						var filter10to20 = queryParams.get('filter10to20') === 'true';
						var filterSizeLessThan10 = queryParams.get('filterSizeLessThan10') === 'true';
						var filterSizeMoreThan10 = queryParams.get('filterSizeMoreThan10') === 'true';

						$('#filter1').prop('checked', filterUnder10);
						$('#filter2').prop('checked', filter10to20);
						$('#filter4').prop('checked', filterSizeLessThan10);
						$('#filter5').prop('checked', filterSizeMoreThan10);
					}

					$('#btn_results').on('click', function () {
						updateUrl();

						window.location.reload();
					});

					setCheckboxStates();

					$(document).ready(function () {

						function clearFilters() {
		
							$('input[type=checkbox]').prop('checked', false);

							$('input[type=radio]').prop('checked', false);

							var queryParams = new URLSearchParams(window.location.search);
							queryParams.delete('filterUnder10');
							queryParams.delete('filter10to20');
							queryParams.delete('filterSizeLessThan10');
							queryParams.delete('filterSizeMoreThan10');
							history.replaceState(null, null, window.location.pathname);

							window.location.reload();
						}

						$('#clear_filters_btn').on('click', clearFilters);

					});

				});

			</script>
	}

</body>
