@model FishStoreApplication.Models.Aquarium

@{
    ViewData["Title"] = Model.AquariumBrand + "Details";
}

<h1>Details @Model.AquariumBrand</h1>

<div>
    <hr />
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Aquarium Brand/ Price</a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Attributes/ Specifications</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Description/ Warranty</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3">Show all Information</button>
    </p>
    <div id="CommonParent">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <dl class="row">

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AquariumId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AquariumId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AquariumBrand)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AquariumBrand)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AquariumPrice)
                    </dt>
                    <dd class="col-sm-10">
                        $@Html.DisplayFor(model => model.AquariumPrice)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MainImageURL)
                    </dt>
                    <dd class="col-sm-10">
                        <img height="200" src=@Html.DisplayFor(model => model.MainImageURL) />
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AquariumGallons)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AquariumGallons)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AquariumMaterial)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AquariumMaterial)
                    </dd>                                                          
                </dl>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AquariumWarranty)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AquariumWarranty)
                    </dd>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.AquariumId">Edit</a> |
    <a class="btn btn-secondary" href="@Url.Action("Index")">Back to List</a>
</div>