@model FishStoreApplication.Models.Fish

@{
    ViewData["Title"] = Model.BreedName + "Details";
}

<h1>Details @Model.BreedName</h1>

<div>
    <hr />
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Fish breed/ Price</a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Attributes/ Specifications</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Description/ Warranty</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3">Show all Information</button>
    </p>
    <div id="CommonParent">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <dl class="row">

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FishId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BreedName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BreedName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        $@Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishImageURL)
                    </dt>
                    <dd class="col-sm-10">
                        <img src=@Html.DisplayFor(model => model.FishImageURL) />
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishSize)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FishSize)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishSpecialDiet)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FishSpecialDiet)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishEnvironment)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FishEnvironment)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishTemperament)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FishTemperament)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishCareLevel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FishCareLevel)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FishWarranty)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FishWarranty)
                    </dd>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.FishId">Edit</a> |
    <a class="btn btn-secondary" href="@Url.Action("Index")">Back to List</a>
</div>
