@model IEnumerable<Fish>

@{
    ViewData["Title"] = "Fish Catalog";
}

<h1>Fish Catalog</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p>
    <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Fish">Create Fish</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FishId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Fish item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FishId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedName)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.FishId">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.FishId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FishId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
